.wrapperAvatar {
  position: relative;
  width: 165px;
  height: 220px;
}
.backgroundAvatar {
  position: absolute;
  width: 94%;
  height: 98%;
  background: #d60000;
  transform: skew(-2deg, -6deg);
  left: 5px;
  top: 6.1px;
}
.wrapperAvatar .avatar {
  position: absolute;
  width: 100%;
  border-radius: 0 5px 5px 0;
  background: url("../images/3x4.jpg") no-repeat;
  background-position: bottom;
  height: 100%;
  transform: skew(0deg, 0deg);
  left: 9px;
  top: -3px;
}
